{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>MedTech</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'MedTech-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/css/Normal/style.css' %}"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">{% include 'patient_navbar.html' %}</header>
      <!-- /Header -->

      <!-- Breadcrumb -->
      <div class="breadcrumb-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            
            <div class="col-md-12 col-12">
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{% url 'patient-dashboard' %}">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Patient Documents
                  </li>
                </ol>
              </nav>
              <h2 class="breadcrumb-title">Patient Documents</h2>{% include 'message.html' %}
            </div>
          </div>
        </div>
      </div>
      <!-- /Breadcrumb -->
      
      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
              <div>{% include 'patient-sidebar.html' %}</div>
            </div>
            <!-- / Profile Sidebar -->

            <div class="col-md-7 col-lg-8 col-xl-9">
              <div class="card">
                <div class="card-body pt-0">
                    {% comment %} ----------------------------------------------------------------------------------------- {% endcomment %}
                    <div class="container mt-5">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Upload Document</h5>
                                        <form id="documentForm" enctype="multipart/form-data" action="file_to_txt" method="post">
                                            <div class="custom-file mb-3">
                                                <input type="file" class="custom-file-input" id="documentInput" name="document" onchange="updateFileName(this)">
                                                <label class="custom-file-label" for="documentInput">Choose Document</label>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-block">Upload</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Doc #</th>
                                    <th>File</th>
                                    <th>Summary</th>
                                    <th>Last Updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in doc %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td><a href="{{ i.file.url }}" class="card-link" title="{{ i.file.name }}">{{ i.file.name | truncatechars:20 }}</a></td>
                                    <td>{{ i.summary }}</td>
                                    <td>{{ i.last_updated_file }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    {% comment %} ------------------------------------------------------------------------------------------------------- {% endcomment %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Page Content -->

    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- /Footer -->
  </div>
  <!-- jQuery -->
  <script src="{% static 'MedTech-System/js/Normal/jquery.min.js' %}"></script>

  <!-- Bootstrap Core JS -->
  <script src="{% static 'MedTech-System/js/Normal/popper.min.js' %}"></script>
  <script src="{% static 'MedTech-System/js/Normal/bootstrap.min.js' %}"></script>

  <!-- Sticky Sidebar JS -->
  <script src="{% static 'MedTech-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
  <script src="{% static 'MedTech-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

  <!-- Custom JS -->
  <script src="{% static 'MedTech-System/Outside_assets/js/script.js' %}"></script>

  <!-- Searchbar JS -->
  <script src="{% static 'MedTech-System/js/Normal/sidebar.js' %}"></script>

  {% if messages %}
  <script>
      {% for message in messages %}
          $(document).ready(function () {
              $('.toast').toast('show');
          });
      {% endfor %}
      function updateFileName(input) {
        // Get the selected file name
        var fileName = input.files[0].name;

        // Update the label text with the file name
        var label = input.nextElementSibling;
        label.innerText = fileName;
    }

  </script>
{% endif %}



</body>

<!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
</html>
