{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/blank-page.html  30 Nov 2019 04:12:20 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>medico</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'MedTech-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/css/Normal/style.css' %}"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper" style="background-color: #a0f78e">
      <!-- Header -->
      <header class="header">{% include 'navbar_home.html' %}</header>
      <!-- /Header -->

      <!-- Breadcrumb -->
      <div class="breadcrumb-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-md-12 col-12">
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="index-2.html">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    About Us
                  </li>
                </ol>
              </nav>
              <h2 class="breadcrumb-title">About Us</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- /Breadcrumb -->

      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5>About Us</h5>
                  <p
                    style="
                      color: #000000;
                      font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                        'Trebuchet MS', sans-serif;
                      font-size: 20px;
                    "
                  >
                    medico System is an advanced platform designed to
                    revolutionize healthcare by integrating IoT devices for
                    virtual health consultations. This innovative system enables
                    real-time virtual consultations between patients and
                    healthcare providers, enhancing the efficiency and
                    effectiveness of healthcare delivery. By seamlessly
                    integrating with IoT devices, medico System collects and
                    monitors vital health data such as temperature, heartbeat,
                    and glucose levels. Patients and healthcare providers can
                    visualize this data through an intuitive and interactive
                    health data dashboard, ensuring a comprehensive overview of
                    patient health. The platform prioritizes secure
                    communication, providing encrypted channels for
                    patient-provider interactions. Additionally, it simplifies
                    appointment scheduling and management, while offering
                    notifications and alerts for critical health events and
                    upcoming appointments. medico System also features robust
                    reporting and analytics capabilities, allowing for detailed
                    insights into patient health data. Overall, medico System
                    leverages technology to deliver a superior healthcare
                    experience.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- /Page Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'MedTech-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'MedTech-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'MedTech-System/js/Normal/bootstrap.min.js' %}"></script>

    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Slick JS -->
    <script src="{% static 'MedTech-System/js/Normal/slick.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'MedTech-System/Outside_assets/js/script.js' %}"></script>
  </body>

  <!-- doccure/blank-page.html  30 Nov 2019 04:12:20 GMT -->
</html>
