{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/doctor-register.html  30 Nov 2019 04:12:15 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Medico</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href=" {% static 'MedTech-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'MedTech-System/css/Normal/style.css' %}"
    />
    <link href=
    "https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" 
              rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="account-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">{% include 'navbar_home.html' %}

      </header>
      <!-- /Header -->

      <!-- Page Content -->
      
      <div class="bg-cover bg-center bg-fixed" style="background-image: url('https://picsum.photos/1920/1080')">
        <div class="h-screen flex justify-center items-center">
            <div class="bg-white mx-4 p-8 rounded shadow-md w-full md:w-1/2 lg:w-1/3">
                <div class="login-header">
                  <h3>
                        Doctor Signup
                      <b>  <a href="{% url 'patient-register' %}" style="color: rgba(43, 154, 37, 0.999);">Not a Doctor?</a>
                      </b>  </h3>
                    </div>

                    <!-- Register Form -->
                    <form action="{% url 'doctor-register' %}" method="POST">
                      {% csrf_token %} 
                      
                      {% include 'message.html' %}
                      {% comment %} {% if messages %}
                      <ul class="messages">
                          {% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                              {% endfor %}
                      </ul>
                      {% endif %} {% endcomment %}
                      
                      
                      {% for field in form %}
                      <div class="form-group form-focus">
                        {{field}}{{ field.errors }}
                        <label class="focus-label">{{ field.label }}</label>
                      </div>
                      {% endfor %}

                      <div class="text-right">
                        <a class="forgot-link" href="{% url 'doctor-login'%}"
                          >Already have an account?</a
                        >
                      </div>
                      <button
                        class="btn btn-primary btn-block btn-lg login-btn"
                        type="submit"
                        style="background-color: rgb(233, 183, 34);"
                      >
                        Signup
                      </button>
                     
                      
                    </form>
                    <!-- /Register Form -->
                  </div>
                </div>
              </div>
              <!-- /Account Content -->
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'MedTech-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'MedTech-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'MedTech-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'MedTech-System/Outside_assets/js/script.js' %}"></script>

    {% if messages %}
    <script>
        {% for message in messages %}
            $(document).ready(function () {
                $('.toast').toast('show');
            });
        {% endfor %}
    </script>
  {% endif %}
  
  </body>

  <!-- doccure/doctor-register.html  30 Nov 2019 04:12:16 GMT -->
</html>
